RewriteEngine On
RewriteBase /

RewriteRule ^(.+)/(.+).html$ download.php?id=$1&name=$2 [L]
RewriteRule ^query/(.+)/page/(.+)$ music.php?q=$1&page=$2 [L]
RewriteRule ^page=(.+)$ music.php?page=$1 [L]
RewriteRule ^sitemap.xml$ sitemap.php  [L]

RewriteRule ^savemp3/(.+)/$ save.php?id=$1 [L]
RewriteRule ^savemp3/(.+)$ save.php?id=$1 [L]
RewriteRule ^savemp4/(.+)/$ savemp4.php?id=$1 [L]
RewriteRule ^savemp4/(.+)$ savemp4.php?id=$1 [L]
RewriteRule ^safelinkmp3/(.+)/$ safelink.php?id=$1 [L]
RewriteRule ^safelinkmp3/(.+)$ safelink.php?id=$1 [L]
RewriteRule ^safelinkmp4/(.+)/$ safelinkmp4.php?id=$1 [L]
RewriteRule ^safelinkmp4/(.+)$ safelinkmp4.php?id=$1 [L]
RewriteRule ^mp3/(.+)$ view_yt.php?v=$1 [L]
RewriteRule ^downloads/(.+)$ music.php?q=$1 [L] 
RewriteRule ^billboard/$ billboard.php [L]
RewriteRule ^topartist.html$ topartis.php [L]
RewriteRule ^downloads/(.+)$ search.php?q=$1 [L] 

RewriteRule ^download/(.+)$ 404.php?id=$1 [L]
RewriteRule ^disclaimer/$ disclaimer.php [L]
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
Options -Indexes
ErrorDocument 402 /index.php
ErrorDocument 403 /index.php
ErrorDocument 404 /404.php
ErrorDocument 500 /index.php